/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[探]ogs/
/[Uu]ser[Ss]ettings/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.IDB
*.Lines
/.vs
Assets/Animator/Frank_Fighter/Assets/Animations/FBX Animation/Frank_Fighter_UE4/Frank_Fighter_UE4.zip
Assets/Animator/Frank_Fighter/Assets/Animations/FBX Animation/Frank_Fighter_UE4/Frank_Fighter_UE4.zip.meta
